<div class="card" style="color:crimson" style="text-align: center">
  <div class="card-header">
{{pageTitle}}
  </div>
</div>
<span style="color:green ">Search item:{{search1}} </span> <br>
Search : <input type= "search" style ="color:blueviolet" ([ngModel])= "search1">
<div class="table-responsive">   
<table class = "table">
  <thead>
  <tr>
    <th> EMPLOYEE ID</th>
 <th>NAME</th>
 <th>DESIGNATION</th>
 <th>CONTACT NO</th>
 <th>DATE OF JOINING</th>
  <th>ADDRESS</th>
  </tr>
</thead>
  <tbody>
      <tr *ngFor ='let employee of empList | empFilter: search1'>
          <!-- <tr *ngFor ='let employee of empFilteredList'> -->
      <td>{{employee.emp_id}}</td>
     <td (click)= 'onClick (employee.emp_name)'>{{employee.emp_name}}</td>
     <td>{{employee.emp_desig}}</td>
      <td>{{employee.emp_contno}}</td>
      <td>{{employee.emp_doj}}</td>
     <td> {{employee.emp_address}}</td>
      </tr>
      
  </tbody>

</table>
</div>